<!doctype html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <title>Angular Boilerplate</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
  <body>
    <div class="container">
      <div ng-controller="myController">
        <br>

        <div>snake_case -> kebab-case</div>
        <input type="text" ng-model="kebab">
        <div>{{kebab | kebab}}</div>
        <br>

        <div>Acronym Generator</div>
        <input type='text' ng-model="acronym">
        <div>{{acronym | acronym}}
        <br>

        <div>aLtCaPs CoNvErTeR</div>
        <input type='text' ng-model="altcaps">
        <div>{{altcaps | aLtCaPs}}
        <br>

        <div> Starts with A:
        <ul>
          <li ng-repeat="friend in friends | startsWithA">
            {{ friend.name }}
          </li>
        </ul>
        <br>

        <div> Search collection:
        <input type="text" ng-model="letter">
        <ul>
          <li ng-repeat="friend in friends | strMatch:letter">
            {{ friend.name }}
          </li>
        </ul>

      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" type="text/javascript"></script>
    <script src="./js/app.js" type="text/javascript"></script>
    <script src="./js/controllers.js" type="text/javascript"></script>
    <script src="./js/filters.js" type="text/javascript"></script>
  </body>
</html>
